@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
    --orange: #DE5B40;
    --grey: #B7B7B7;
    --grey-button: #DBDBDB;
    --grey-font: #7E7E7E;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: white;
    overflow: hidden;
    
}

body, button, input{
    font-family: 'Poppins', sans-serif;
    
}
h2{
    font-size:48px;
    color: var(--orange);
}
p{
    font-size:14px;
    color: var(--grey);
}
.form-container{
    position: absolute;
    width: 360px;
    height: 21px;
    left: 180px;
    top: 43px;
}
button{
    height: 45px;
    width: 300px;
    left: 144px;
    top: 288px;
    border: 1px solid var(--grey);
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    
}
svg{
    position: absolute;
    right: 60px;
    color: var(--grey-font);
    margin: 20px;
}


.hr1{
    border: 0;
    border-top: 1px solid var(--grey);
    height: 0px;
    width: 301px;
    overflow: visible;
    padding: 1px;
    text-align: center;
    margin-left: 1px;
    margin-top: 15px;

}

.hr1::after {
    content: "or";
    color: var(--grey);
    display: inline-block;
    position: relative;
    top: -14px;
    font-size: 14px;
    padding: 0px 0.3em;
    background-color: white;
    
}

.id {
    display: none;
}

.email-container input{
    height: 45px;
    width: 300px;
    left: 144px;
    top: 288px;
    border: 1px solid  var(--grey-button);
    background: var(--grey-button);
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 55px 0 25px;
}
.email-container  input::placeholder{
    color:var(--grey-font);
}
.password-container input{
    height: 45px;
    width: 300px;
    left: 144px;
    top: 288px;
    border: 1px solid var(--grey-button);
    background: var(--grey-button);
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 55px 0 25px;
}
.password-container input::placeholder{
    color: var(--grey-font);
}

.password-confirm input{
    height: 45px;
    width: 300px;
    left: 144px;
    top: 288px;
    border: 1px solid var(--grey-button);
    background: var(--grey-button);
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 55px 0 25px;
}
.password-confirm input::placeholder{
    color: var(--grey-font);
}

.options-container{
    padding: 0 20px;
    margin-top: 1px;
    margin-left: -21px;
}
.options-container a {
    text-align: right;
    color: var(--orange);
    text-decoration: none;

}
.checkbox-container{
    display: inline-block;
    width: 50%;
    color: #E0E0E0;
    

}
input[type="submit"]{
    height: 45px;
    width: 300px;
    left: 144px;
    top: 288px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: white;
    font-weight:700;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-container img{
    position: absolute;
    width: 650px;
    height: 650px;
    left: 725px;
    top: 70px; 
}
.rectangle-container img{
    position: absolute;
    width: 805px;
    height: 715px;
    left: 661px;
    top: 0;
}
